
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=e0ea6f1e63a1064e4b781edc64274f86
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
